<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SessionManag</servlet-name>
		<servlet-class>com.us.SessionManagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionManag</servlet-name>
		<url-pattern>/sessionmanag</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.us.Logout1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>com.us.s1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/s1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>sessionmanag</welcome-file>
	</welcome-file-list>
</web-app>
